Deyle_etal_2016_SMAP_example_implementation.html
MultiviewFunctionUnexpectedBehavior.html
StatisticalDataAnalysis.html
StatisticalDataAnalysis.pdf
ExploratoryDataAnalysis.html
StatisticalDataAnalysis_files
figure/ch??_fig*.pdf
figure/ch??_fig*-1.pdf
figure/ch??_fig*.tiff
figure/ch??_fig*-1.tiff